.story {
  display: flex;
  flex-direction: column;
  background: #ddd;
  padding: 16px;
  height: 220px;
  border-radius: 8px;
  &--loading {
    .story__avatar {
      background: #ccc;
    }
  }
  &__avatar,
  &__avatar img {
    display: flex;
    width: 50px;
    min-width: 50px;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    border-radius: 50%;
  }
}
