@import '../../../mixins.scss';
:host.loading {
  .story {
    background: #ddd;
  }
  .story__avatar {
    @include loading-animation();
  }
}
.story {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #ccc;
  align-items: center;
  max-width: 70px;
  text-align: center;
  padding: 16px;
  height: 220px;
  border-radius: 8px;

  &__avatar,
  &__avatar img {
    display: flex;
    width: 50px;
    min-width: 50px;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    border-radius: 50%;
  }
}
