:host {
  background: #fff;
  display: flex;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.write-post {
  &--loading {
    .write-post__avatar {
      background: #ccc;
    }
    .write-post__text-input {
      background: #ccc;
    }
  }
}
