.user {
  display: flex;
  align-items: center;
  padding: 16px;
  &--loading {
    .user__avatar {
      background: #ccc;
    }
    .user__label {
      background: #ccc;
    }
  }
  &__avatar {
    display: flex;
    width: 50px;
    min-width: 50px;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    border-radius: 50%;
  }
  &__label {
    margin-left: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    display: flex;
    height: 16px;
    width: 100%;
  }
}
