.loading {
  .event__avatar {
    background: #ccc;
  }
  .event__label {
    background: #ccc;
  }
}
.event {
  display: flex;
  align-items: center;
  padding: 8px;

  &__avatar,
  &__avatar img {
    display: flex;
    width: 50px;
    min-width: 50px;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    border-radius: 50%;
  }
  &__label {
    margin-left: 16px;
    border-radius: 8px;
    display: flex;
    height: 16px;
    width: 100%;
  }
}
